Package: steam-login-session
Version: 14.0.4
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: x11
Homepage: https://github.com/drauger-os-development/steam-login-session
Architecture: all
Priority: optional
Depends: steam (>=1:1.0.0.54+repack-5ubuntu1), python3 (>=3.8), xfwm4 (>=4.12.4-0ubuntu1), python3-psutil
Replaces: steam-session (<=11)
Description: Launch Steam Big Picture from your login screen
 Log straight into Steam Big Picture mode from your login page. Based off of steam-session by Thomaz Reis at https://github.com/thor27/steam-login/
 .
 With the release of Steam Beta, and Steam Big Picture mode on Linux, this package will put Steam as a login option, so you will be able to open only Steam and needed software to make it run correctly. It's almost a Steam Desktop Environment.
