Package: steam-login-session
Version: 15.0.5
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: x11
Homepage: https://github.com/drauger-os-development/steam-login-session
Architecture: all
Priority: optional
Depends: python3 (>=3.11), xfwm4 (>=4.17.0) | kwin-x11 (>=4:5.27.11) | kwin-wayland (>=4:5.27.11) | openbox (>=3.6.0) | gamescope (>=3.12.5-1), python3-psutil
Replaces: steam-session
Recommends: steam-login-session-settings-qt, steam-login-session-settings-gtk
Description: Launch Steam Big Picture from your login screen
 Log straight into Steam Big Picture mode from your login page. Based off of steam-session by Thomaz Reis at https://github.com/thor27/steam-login/
 .
 With the release of Steam Beta, and Steam Big Picture mode on Linux, this package will put Steam as a login option, so you will be able to open only Steam and needed software to make it run correctly. It's almost a Steam Desktop Environment.
